.wrap {
  color: rgba(255, 255, 255, 0.75);
  .bold {
    font-weight: bold;
    color: #fff;
  }

  .green, a {
    color: #A8FCB2;
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  h1, h2 {
    color: #fff;
  }

  h6 span+span {
    margin-left: 8px;
  }
}

@media screen and (max-width: 450px) {
  .wrap {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
  }

  h1 {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 4px;
  }

  h2 {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 0;
  }

  h6 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 16px;
    color: #919499;
    font-weight: normal;
  }

  p+p {
    margin-top: 12px;
  }

  .ml {
    margin-left: 12px;
  }
}

@media screen and (min-width: 450px) {
  .wrap {
    width: 66.6%;
    margin: auto;
    font-size: 15px;
    line-height: 24px;
    padding: 48px 0 24px;
  }

  h1 {
    font-size: 38px;
    line-height: 56px;
    padding-bottom: 8px;
  }

  h2 {
    font-size: 20px;
    line-height: 48px;
    padding: 18px 0;
  }

  h6 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 38px;
  }

  p+p {
    margin-top: 14px;
  }

  .ml {
    margin-left: 14px;
  }
}
