.pg-wallet {
  padding-top: 70px;
  position: relative;
}

.banner-content {
  width: 37%;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}

.icon-sty1 {
  font-size: 24px;
  margin-left: 4px;
}

.img-wallet-pc {
  width: 620px;
}

.index-section {
  padding-top: 65px;
  padding-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
  li {
    box-sizing: border-box;
    width: calc((100% - 290px) / 3);
    position: relative;
    color: #FFFFFF;
    img {
      width: 80px;
      height: 80px;
    }
    .t1 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      margin-top: 16px;
    }
    .d {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      opacity: 0.6;
      margin-top: 12px;
    }
  }
  li + li {
    margin-left: 145px;
  }
}

@media screen and (max-width: 1152px) {
  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .desc {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .img-wallet-pc {
    width: 550px;
  }
  .index-section {
    li {
      width: calc((100% - 100px) / 3);
    }
    li + li {
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: 1045px) {
  .banner-content {
    width: 100%;
  }
  .img-wallet-pc {
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 900px) {
  .index-section {
    padding-top: 42px;
    padding-bottom: 54px;
    li {
      width: 100% !important;
      .t1 {
        font-size: 20px;
        margin-top: 12px;
      }
      .d {
        font-size: 14px;
        margin-top: 12px;
      }
    }
    li + li {
      margin-left: 0;
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: 750px) {
  .pg-wallet {
    padding-top: 38px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .desc {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .icon-sty1 {
    font-size: 14px;
  }
}
